

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    /* -------- Particle Background --------- */

    #particles > canvas {
        width: 100% !important;
        height: 400px !important;
    }

    #particles > #intro {
        /*margin-top: -400px !important;*/
        /*background: #1C78B3;*/
    }
}

@media screen and (max-width: 767px) {
    .logo-box {
        padding-left: 0px;
        margin-right: 50px;
    }

    .nav-box .navbar-default .navbar-header .navbar-toggle {
        position: absolute;
        right: -40px;
        top: -40px;
    }

    .testimonial-box {
        background: #fff;
        padding: 5px 0px 20px;
        position: relative;
        background: #fff;
        margin-bottom: 25px;
    }
    ul.navbar-nav{
        float:left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

/*@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}*/

@media only screen and (min-width:992px) {
}

@media (max-width: 1200px) {
    #particles > canvas {
        display: none !important;
    }

    #particles > #intro {
        margin-top: auto !important;
    }
}
