
/* Yellow color #FFE400 */


.view {
    height: 200px;
    border: 10px solid #e8e8e8;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    /*background: #fff url(../images/bgimg.jpg) no-repeat center center;*/
}

    .view .mask, .view .content {
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .view img {
        display: block;
        position: relative;
    }

    .view h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        margin: 20px 0 0 0;
    }

    .view p {
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 12px;
        position: relative;
        color: #fff;
        padding: 5px 12px 1px;
        text-align: center;
    }

    .view a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        -webkit-box-shadow: 0 0 1px #000;
        -moz-box-shadow: 0 0 1px #000;
        box-shadow: 0 0 1px #000;
    }

        .view a.info:hover {
            -webkit-box-shadow: 0 0 5px #000;
            -moz-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
        }

/* tenth */

.view-tenth img {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 0px 40px 0px 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #333;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth p {
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-tenth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-tenth:hover img {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-tenth:hover h2, .view-tenth:hover p, .view-tenth:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


/* -------- Particle Background --------- */

/*#particles > canvas{
	width:100% !important;
	height: 400px !important;
}

#particles > #intro{
	 margin-top: -400px !important;
    background: #1C78B3;
}*/
#particles > #intro {
    background: #1C78B3;
}

/* -----------Mega Menu---------------- */


.navbar-nav > li > .dropdown-menu {
    box-shadow: 0px 1px 1px 1px #ddd;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .mega-dropdown-menu:before {
        content: "";
        border-bottom: 17px solid #1C78B3;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        position: absolute;
        top: -17px;
        left: 500px;
        z-index: 8;
    }

    .mega-dropdown-menu:after {
        content: "";
        border-bottom: 17px solid #FFF;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        position: absolute;
        top: -16px;
        left: 500px;
        z-index: 8;
    }

    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }

        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }

            .mega-dropdown-menu > li > ul > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                line-height: 1.428571429;
                color: #666;
                white-space: normal;
            }

    .mega-dropdown-menu > li ul > li > a:hover,
    .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
        color: #444;
        background-color: #f5f5f5;
    }

    .mega-dropdown-menu .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

    .mega-dropdown-menu form {
        margin: 3px 20px;
    }

    .mega-dropdown-menu .form-group {
        margin-bottom: 3px;
    }

/* -----------Mega Menu Ends-------------- */

/* ---------Jssor Slider----------------- */


/* jssor slider bullet navigator skin 03 css */
/*
                                     .jssorb03 div           (normal)
                                     .jssorb03 div:hover     (normal mouseover)
                                     .jssorb03 .av           (active)
                                     .jssorb03 .av:hover     (active mouseover)
                                     .jssorb03 .dn           (mousedown)
                                     */

.jssorb03 {
    position: absolute;
}

    .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
        position: absolute;
        /* size of bullet elment */
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 21px;
        color: white;
        font-size: 12px;
        /*background: url(images/img/b03.png) no-repeat;*/
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb03 div {
        background-position: -5px -4px;
    }

        .jssorb03 div:hover, .jssorb03 .av:hover {
            background-position: -35px -4px;
        }

    .jssorb03 .av {
        background-position: -65px -4px;
    }

    .jssorb03 .dn, .jssorb03 .dn:hover {
        background-position: -95px -4px;
    }


/* -----------Jssor Slider-------------- */



